In [1]:
import pandas as pd

from pathlib import Path
from typing import List

import nltk
import numpy as np
import random

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download('stopwords')
nltk.download('movie_reviews')

from nltk.tokenize import sent_tokenize, TweetTokenizer
from nltk import word_tokenize, ne_chunk, ngrams, pos_tag

from nltk.corpus import movie_reviews, stopwords


from sklearn.feature_extraction.text import CountVectorizer

In [6]:
news = pd.read_csv('abcnews-date-text.csv')
news.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [5]:
news.tail()

         publish_date                                      headline_text
1226253      20201231  what abc readers learned from 2020 looking bac...
1226254      20201231  what are the south african and uk variants of ...
1226255      20201231  what victorias coronavirus restrictions mean f...
1226256      20201231  whats life like as an american doctor during c...
1226257      20201231  womens shed canberra reskilling unemployed pan...

## What are you looking for?

#### Specific locations mentioned 

#### Sentiment analysis of the headlines that involve that location 

#### Does the sentiment change in months / years before a crisis?

#### Would tweets be a better measure of this?

## NLP Steps

#### 1. tokenization 

#### 2. part of speeech tagging

#### 3. removing stopwords 

#### 4. named entity recognition

#### 5. normalization

##### * remove stop words
##### * stemming
##### * lemmatization

#### 6. text classification (ex- bag of words)